.menu__card-3 {
    display: flex;
    align-items: flex-end;
    height: 100%;
    border-radius: 16px;
    padding: 16px;

    background-image: var(--card-bg-lg), url("../../../images/cards/products/menu/hot-dishes.png");
    background-repeat: no-repeat;
    background-size: cover;
}