html  {
    font-family: var(--font-family-base), serif;
    min-width: 1440px;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

hr {
    max-width: 1312px;
    width: 100%;
    border: none;
    border-top: 1px solid var(--line-color);
}