:root {
    --font-family-base: "Inter", sans-serif;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;

    --header-bg-lg: linear-gradient(to right, #FEDD2C, #F9C201);
    --card-bg-lg: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);

    --tag-bg: rgba(0, 0, 0, 0.6);
    --title-color: #1C1C1C;
    --line-color: #393939;
    --header-text-color: #555555;
    --grey-text-color: #727272;
    --footer-text-color-minor: #A6A6A6;
    --main-button-hover: #E8E8E8;
    --footer-text-color: #F4F4F4;
    --white-text-color: #FFFFFF;

    --line-height-heading-1: 48px;
    --line-height-card: 40px;
    --line-height-heading-3: 32px;
    --line-height-major: 24px;
    --line-height-tag: 20px;
    --line-height-minor: 16px;

    --font-size-heading-1: 40px;
    --font-size-card: 32px;
    --font-size-heading-3: 24px;
    --font-size-text-major: 18px;
    --font-size-text-minor: 16px;
    --font-size-tag: 14px;
    --font-size-small: 12px;
}